[submodule "Libs/fmt/fmt"]
	path = Libs/fmt/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "Libs/spdlog/spdlog"]
	path = Libs/spdlog/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Libs/magic_enum/magic_enum"]
	path = Libs/magic_enum/magic_enum
	url = git@github.com:Neargye/magic_enum.git
[submodule "Libs/debugbreak/sources/--force"]
	path = Libs/debugbreak/sources/--force
	url = git@github.com:scottt/debugbreak.git
[submodule "Libs/debugbreak/sources/debugbreak"]
	path = Libs/debugbreak/sources/debugbreak
	url = git@github.com:scottt/debugbreak.git
