[submodule "Libs/fmt/fmt"]
	path = Libs/fmt/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "Libs/spdlog/spdlog"]
	path = Libs/spdlog/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Libs/magic_enum/magic_enum"]
	path = Libs/magic_enum/magic_enum
	url = git@github.com:Neargye/magic_enum.git
